button.logsignbutton.input {
  margin-top: 2vw;
}
.inputSignup {
  margin: 2vw 1vw 0vw 1vw;
  width: 10vw;
  padding: 0.5vw 1vw;
  border: 3px solid #85616a;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000;}

.inputSignup:focus {
  outline: none;
}

#initials {
  font-family: Arial;
  color: #514a45;
  text-shadow: none;
  font-size: 3vw;
  margin: -1vw 0vw 0vw 0vw;
}

#initials.inputSignup {
  font-size: 1vw;
  line-height: 1vw;
  margin-top: 1vw;
}

#signupBody {
  background-image: url(../../images/FPSignupHor.jpg);
  height: 100vh;
}

#signupInput {
  margin: auto;
}

@media screen and (max-width: 670px) {
  #signupBody {
    background-image: url(../../images/FPSignupVert.jpg);
    height: 100vh;
  }
  #signupInput {
    margin: auto;
    width: 80vw;
    position: relative;
    top: 8vw;
    left: 0vw;
  }
}
