#signupBody {
  background-image: url(../../images/FPSignupHor.jpg);
  height: 100vh;
}

#signupInput {
  margin: auto;
}

@media screen and (max-width: 670px) {
  #signupBody {
    background-image: url(../../images/FPSignupVert.jpg);
    height: 100vh;
  }
  #signupInput {
    margin: auto;
    width: 80vw;
    position: relative;
    top: 8vw;
    left: 0vw;
}
}
