body {
  margin: 0;
  font-family: "Kalam", cursive !important;
  text-shadow: 1px 1px 1px #000;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  margin: 2vw 20vw;
}

.backgroundImage {
  background-size: cover;
  height: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: scroll;
}

.logSignButton {
  color: #85616a;
  background-color: white;
  width: 7vw;
  box-shadow: 2px 2px 2px #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.headerText {
  color: #f6f5f3;
  font-size: 3vw;
  font-family: "Kalam", cursive !important;
  text-shadow: 1px 1px 1px #000;
}

.H_imprint {
  display: none;
}

.Logo {
  text-align: center;
  font-size: 4vw;
}

.temporaryPageName {
  text-align: center;
}
/* Lavender: 948C94
Chocolate: 292218
Khaki: 7C6D57
Green: 99A49D
Beige: D5C8B4 
White: f6f5f3 */
