body {
  margin: 0;
  font-family: "Kalam", cursive !important;
  text-shadow: 1px 1px 1px #000;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  margin: 2vw 2vw 0vw 2vw;
}

.backgroundImage {
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.logSignButton {
  color: #242527;
  background-color: white;
  width: 7vw;
  box-shadow: 2px 2px 2px #000;
  margin-bottom: 3vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.headerText {
  color: #85616a;
  font-size: 3vw;
  font-family: "Kalam", cursive !important;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.H_imprint {
  display: none;
}

.Logo {
  text-align: center;
  font-size: 4vw;
}

.temporaryPageName {
  text-align: center;
}

.uk-card-default {
  width: 60vw;
  margin: auto;
}

@media screen and (max-width: 670px) {
  .headerText {
    color: #85616a;
    font-size: 9vw;
    font-family: "Kalam", cursive !important;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
  }
  .logSignButton {
    color: #85616a;
    background-color: white;
    width: 25vw;
    box-shadow: 2px 2px 2px #000;
  }
}
