.hiwCardBody {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 70vw !important;
  margin: auto;
  margin-bottom: 5vw;
  object-fit: cover;
  text-align: center;
  box-shadow: 1px 1px 5px #000;
  position: absolute;
  top: 10vw;
  left: 15vw;
  height: 45vw;
}

.hiwText {
  padding: 2vw;
  text-align: left;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: none;
  font-weight: 600;
  color: #242527;
}

.howitworks {
  color: #85616a;
  text-shadow: 2px 2px 2px #000;
}

.howitworksLogin {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px #000;
  width: 69vw;
  color: #000;
  position: relative;
  top: 3vw;
  left: 9vw;
}

@media screen and (max-width: 670px) {
  .aboutusCardBody {
    height: 20vw;
  }
  .hiwCardBody {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 69vw !important;
    margin: auto;
    margin-bottom: 5vw;
    object-fit: cover;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
    position: absolute;
    top: 36vw;
    left: 16vw;
    height: 70vw;
    overflow: auto;
  }
  .hiwText {
    padding: 2vw;
    text-align: left;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    scroll-behavior: smooth;
  }
  .howitworksLogin {
    display: none;
    /* top: 117vw;
    left: 177vw !important; */
  }
  #aboutUs {
    width: 69%;
    top: 115vw;
  }
  #aboutUsText {
    top: -32vw;
  }
}
