.cardBodyLogin {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px #000;
  width: 20vw;
  position: relative;
  top: 10vw;
  left: 8vw;

}

.input {
  margin: 1vw;
  width: 10vw;
  padding: 0.5vw 1vw;
  border: 3px solid #85616a;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000;
}

.input:focus {
  outline: none;
}

.uk-card-default {
  border-radius: 5px;
}

#loginAlert {
  display: block;
}

#loginBody {
  background-image: url(../../images/FPLoginHor.jpg);
  height: 100vh;
}

#loginError {
  text-shadow: 0px 0px 0px;
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 1.1vw;
}

#loginInput {
  margin: auto;
}

@media screen and (max-width: 670px) {
  .cardBodyLogin {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
    width: 80vw;
    position: relative;
    top: 44vw;
    left: 50vw;
  }
  .input {
    margin: 2.5vw;
    width: 70vw;
    padding: 1vw 1vw;
    border: 3px solid #85616a;
    border-radius: 5px;
    box-shadow: 3px 3px 11px;
    position: relative;
    top: -10vw;
    height: 13vw;
  }
  #loginBody {
    background-image: url(../../images/FPLoginVert.jpg);
    height: 100vh;
  }
  #loginInput {
    /* margin: auto; */
    width: 80vw;
    /* text-align: center; */
    position: relative;
    top: 9vw;
  }
}
