.cardBody {
  background-color: rgba(177,166,154,0.7);
  border-radius: 5px;
  max-width: 70%;
  margin: auto;
  margin-bottom: 5vw;
  object-fit: cover;
}

/* .homeButton {
  text-align: center;
  font-size: 1vw;
  margin: 2vw;
} */

.homeButtonDiv {
  text-align: center;
  margin: auto;
  margin-bottom: 40vw;
}

.Logo {
  text-align: center;
  font-size: 4vw;
}

#aboutus {
  position: relative;
  top: 50vw;
}

#homeBody {
  background-image: url(../../images/FPHomeHor.jpg);
}

#homeHeader {
  position: relative;
  top: 23vw;
}

#howitworks {
  position: relative;
  top: 55vw;
}

@media screen and (max-width: 670px) {
  #homeBody {
    background-image: url(../../images/FPHomeVert.jpg);
    height: 100vh;
  }
}

/* Beige F1DDC2
Green 89B1A3
Lavender 80797C
Purple282A3E
Light Blue 5D8AA5
Dark Blue 111825 */
