.H_ui {
  display: none;
}

.locationDiv {
  height: 25vw;
  width: 50vw;
  position: relative;
  top: 5vw;
  left: 10vw;
  float: left;
}

#locationsBody {
  background-image: url(../../images/FPLocationsHor.jpg);
}

#map {
  height: 10vw;
  width: 10vw;
  position: relative;
  top: 5vw;
  left: 10vw;
  float: left;
  /* box-shadow: 40px 40px 0px #867; */
}

@media screen and (max-width: 670px) {
  #locationsBody {
    background-image: url(../../images/FPLocationsVert.jpg);
    height: 100vh;
  }
}
