.H_ui {
  display: none;
}

.locationDiv {
  height: 25vw;
  width: 30vw;
  position: relative;
  top: -28vw;
  left: -1vw;
  float: right;
}

#locationsBody {
  background-image: url(../../images/FPLocationsHor.jpg);
}

#map {
  height: 22vw;
  margin: 2vw;
}

@media screen and (max-width: 670px) {
  #locationsBody {
    background-image: url(../../images/FPLocationsVert.jpg);
    height: 100vh;
  }
}
