.newFPForm {
  width: 69vw;
}

.profileButton {
  text-align: center;
  margin: 2vw;
}

.profileButtonDiv {
  text-align: center;
  margin: auto;
  padding: 1vw 5vw;
}

#newFootprint {
  padding: 1vw;
  margin: auto;
  width: 60vw;
}

#profileBody {
  background-image: url(../../images/FPProfileHor.jpg);
}

#profileForm {
  margin-top: 2vw;
}

@media screen and (max-width: 670px) {
  #profileBody {
    background-image: url(../../images/FPProfileVert.jpg);
    height: 100vh;
  }
}