.centerCard {
  margin: auto !important;
}

.footprintCards {
  font-size: 1vw;
  font-family: monospace;
  color: #666;
  text-shadow: 0px 0px 0px #000;
}
.H_ui {
  display: none;
}

.locationDiv {
  height: 25vw;
  width: 30vw;
  position: relative;
  top: -28vw;
  left: -1vw;
  float: right;
}

#locationsBody {
  background-image: url(../../images/FPLocationsHor.jpg);
}

#map {
  height: 22vw;
  margin: 2vw;
}
.newFPForm {
  width: 69vw;
}

.profileButton {
  text-align: center;
  margin: 2vw;
}

.profileButtonDiv {
  text-align: center;
  margin: auto;
  padding: 1vw 5vw;
}

#newFootprintButton {
  /* border-radius: 5px;
  background-color: white;
  position: relative;
  top: -2vw; */
}

#note {
  margin: auto;
  width: 70%;
  border-radius: 5px;
  padding: 1vw 0vw 0vw 1vw;
}

#profileBody {
  background-image: url(../../images/FPProfileHor.jpg);
}



#profileForm {
  margin-top: 2vw;
}

@media screen and (max-width: 670px) {
  #profileBody {
    background-image: url(../../images/FPProfileVert.jpg);
    height: 100vh;
  }
}


