div.uk-flex.specialPadding {
  margin: 0vw 4vw;
}

#text {
  margin: 5vw;
}
.creatorName {
  font-size: 0.6em;
  padding: 1vw 0vw;
  color: #85616a;
  position: relative;
  top: -2vw;
}

.profilePics {
  padding: 1vw 0vw 0vw 0vw;
}

.uk-card-default {
  margin: 0;
}

.uk-grid-item-match, .uk-grid-match>* {
  display: block;
  flex-wrap: wrap;
  padding: 0vw 1vw 1vw 1vw;
}

#aboutus {
  position: relative;
  top: 10vw;
  width: 70%;
  color: #85616a;
  text-shadow: 2px 2px 2px #000;
}

#aboutusBody {
  background-image: url(../../images/FPHomeDarkerHor.jpg);
  height: 100vh;
}

#aboutUsText {
  padding: 2vw 0vw 0vw 0vw;
}

@media screen and (max-width: 670px) {
  #aboutusBody {
    background-image: url(../../images/FPFootprintsVert.jpg);
    height: 100vh;
  }
}