body {
  font-family: "Lato", sans-serif;
}

.closebtn {
  background-color: transparent;
  border: none;
}

.closebtn:focus {
  outline: none;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #292218;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #D5C8B4 ;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #948C94;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #D5C8B4 ;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: #D5C8B4;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #948C94;
}

#hamburger {
  position: relative;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  top: 2vw;
  left: 1vw;
  border-radius: 5px;
  background-color: #292218;
}

#hamburger:focus {
  outline: none;
}

#hamburger:hover {
  color: #948C94;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Lavender: 948C94
Chocolate: 292218
Khaki: 7C6D57
Green: 99A49D
Beige: D5C8B4 */
